#jumbotron{
    margin-left: 320px!important; margin-right: 380px!important;
    
}
h1{
    width: 500px; color: black; 
}

body{
    background-size:50%;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position-x: 50%;
    
}
ul{
    margin-left: 40%; margin-right: 30%;
}
div{
   background-color: black;margin-left: 12%; margin-right: 18%; margin-top: 3%; opacity:0.8;border-radius:80px;
}

form{
    margin-left: 20%; margin-right: 30%; margin-top: 3%; color: aliceblue;
}
#login{
    background-image: url("https://ya-webdesign.com/transparent250_/icon-png-4.pnga");
    background-repeat: no-repeat;
    background-size: 30%;
}
input{
    border-radius:80px;
}
.homebutton{
    width: 250px!important;
}