body{
    background-size:50%;
    background-color: #333333;
    background-repeat: no-repeat;
    background-position-x: 50%;
    
}
ul{
    margin-left: 40%; margin-right: 30%;
}
div{
    background-color: black;margin-left: 32%; margin-right: 38%; margin-top: 3%; opacity:0.8;border-radius:80px;
    color: aliceblue;
}
h1{
    margin-left: 35%; margin-right: 25%; margin-top: 3%; color: aliceblue; 
}
form{
    margin-left: 20%; margin-right: 30%; margin-top: 3%; color: aliceblue;
}
#login{
    background-image: url("https://ya-webdesign.com/transparent250_/icon-png-4.pnga");
    background-repeat: no-repeat;
    background-size: 30%;
}
input{
    border-radius:80px;
}

